.fill-area {
  display: table;
  z-index: -1;
  position: absolute;
  top: -320000px;
  left: -320000px;
  width: 640000px;
  height: 640000px;
}

.background {
  background-color: #111;
  opacity: 1;
  background-image: radial-gradient(#ffffff20 1.55px, transparent 1.55px),
    radial-gradient(#f3f3f339  2.55px, #111  1.55px);
  background-size: 62px 62px;
  background-position: 0 0, 31px 31px;
}
